<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="nombreCookie" value="iecaappweb" />
		<add key="fireApiKey" value="AIzaSyDz8V94UZacxFAbdLOso7lxoxm5MmbtAMU" />
		<add key="fireAuthDomain" value="iecapp2.firebaseapp.com" />
		<add key="fireDatabaseUrl" value="https://iecapp2-default-rtdb.firebaseio.com" />
		<add key="fireProjectId" value="iecapp2" />
		<add key="fireStorage" value="iecapp2.appspot.com" />
		<add key="fireMessagingSenderId" value="460079495889" />
		<add key="fireAppId" value="1:460079495889:web:ba045ae4a5629f9f7d23f0" />
		<add key="fireMeasurementId" value="G-4099JNJ641" />
		<add key="fireUser" value="hola@iecapp.com" />
		<add key="fireClave" value="GtoAceI@2024" />
		<add key="idEmpresa" value="4BBC69B0-F299-4033-933F-2DE7DC8B9E8C"/>
		<add key="recaptchaPublicKey" value="6LdQKdgpAAAAAEkX5iZp7NzFS-jXzCjW4SK7_djQ" />
		<add key="recaptchaPrivateKey" value="6LdQKdgpAAAAAF2vSDT5boaJe4hH8lc2zSc5PEPC" />
	</appSettings>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
				<!-- Tamaño máximo en bytes -->
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web>
		<httpRuntime maxRequestLength="1024000" />
		<!-- Tamaño máximo en KB -->
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
